<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi invernadero{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block head %}{% endblock %}
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark navbar-envia">
        <div class="container-fluid">
            <a class="navbar-brand-custom" href="/">
                <div class="logo-circle-wrapper">
                    <i class="bi bi-flower1"></i>
                </div>
                <span>Mi invernadero 🌳</span>
            </a>

            <div class="dropdown me-3">
                <button class="btn btn-link text-light fs-4 p-0 border-0" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-person-circle"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    {% if session.get('usuarioo') %}
                    <li>
                        <span class="dropdown-item-text text-muted small">
                            <i class="bi bi-shield-check me-2"></i>Sesión activa
                        </span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item text-danger" href="{{ url_for('logout') }}">
                            <i class="bi bi-box-arrow-left me-2"></i>Cerrar Sesión
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a class="dropdown-item" href="{{ url_for('login') }}">
                            <i class="bi bi-box-arrow-in-right me-2"></i>Iniciar Sesión
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('registro') }}"></a>
                        <i class="bi bi-person-plus me-2"></i>Registrarse
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>

    <main class="container main-layout-container">
        {% block content %}{% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>