{% extends "base.html" %}

{% block content %}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalSugerencia">
  💡 Sugerir una planta
</button>

<div class="modal fade" id="modalSugerencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Qué planta nos falta?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <form action="/sugerencia" method="POST">
        <div class="modal-body">
          <p class="text-muted">Cuéntanos qué planta te gustaría ver en el catálogo.</p>
          <input type="hidden" name="accion" value="crear">
          
          <div class="mb-3">
            <label for="nombrePlanta" class="form-label">Nombre de la Planta:</label>
            <input type="text" class="form-control" id="nombrePlanta" name="nombre_planta" placeholder="Ej. Monstera, Girasol..." required>
          </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Enviar al Admin</button>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}

