{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5"> 
            <div class="card bg-light text-black border-secondary p-4 shadow-sm rounded-0">
                <h2 class="fw-bold fs-3">¿Tienes problemas para entrar?</h2>
                <p class="text-muted small">Introduce tu correo electrónico y te enviaremos un código para recuperar tu cuenta.</p>
            
            <form action="{{ url_for('recuperar') }}" method="POST">
                <div class="mb-3">
                    <input type="email" 
                           name="email" 
                           class="form-control" 
                           placeholder="Correo electrónico" 
                           required>
                </div>
                

                <div class="d-grid">
                    <button type="submit" class="btn bg-danger-subtle fw-bold ">
                        Enviar código de recuperación
                    </button>
                </div>
            </form>

            <div class="text-center mt-4">
                <hr class="text-secondary">
                <a href="{{ url_for('login') }}" class="text-decoration-none bg-danger-subtle">
                    Volver al inicio de sesión
                </a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
