{% extends "base.html" %}

{% block title %}Crear Cuenta - Rutina Diaria{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card p-4 shadow-lg border-secondary bg-ligth text-white rounded-4" style="width: 100%; max-width: 450px;">
        
        <div class="text-center mb-4">
            <i class="bi bi-person-plus fs-1 text-black"></i>
            <h2 class="h4 mt-2 fw-bold">Crea tu cuenta</h2>
            <p class="text-secondary small">Registrate para continuar a tu experiencia</p>
        </div>

        <form action="/register" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label small text-secondary">Nombre de usuario</label>
                <div class="input-group">
                    <span class="input-group-text bg-light border-secondary text-black">
                        <i class="bi bi-person"></i>
                    </span>
                    <input type="text" name="username" id="username" class="form-control bg-ligth text-black border-secondary" placeholder="Nombre de Usuario" required>
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label small text-secondary">Correo electrónico</label>
                <div class="input-group">
                    <span class="input-group-text bg-light border-secondary text-secondary">
                        <i class="bi bi-envelope"></i>
                    </span>
                    <input type="email" name="email" id="email" class="form-control bg-ligth text-black border-secondary" placeholder="correo@gmail.com" required>
                </div>
            </div>

            <div class="mb-4">
                <label for="password" class="form-label small text-secondary">Contraseña</label>
                <div class="input-group">
                    <span class="input-group-text bg-ligth border-secondary text-secondary">
                        <i class="bi bi-lock"></i>
                    </span>
                    <input type="password" name="password" id="password" class="form-control bg-ligth text-black border-secondary" placeholder="crea tu contraseña" required>
                </div>
            </div>

            <button type="submit" class="btn btn-light w-100 fw-bold py-2 mb-3">
                Registrarse
            </button>
            
            
            <div class="text-center">
                <span class="text-black small">¿Ya tienes cuenta? </span>
                <a href="/login" class="text-black small text-decoration-none fw-bold">Inicia sesión</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}